.keys/
.vault-pass
.terraform/
*.tfstate
*.tfstate.*
ansible/collections/
ansible/roles/geerlingguy.*
*.tfvars
!terraform.tfvars.example.keys/*
.vault-pass
.terraform/
*.tfstate
*.tfstate.*
collections/
roles/geerlingguy.git/
.keys/*
.vault-pass
.terraform/
*.tfstate
*.tfstate.*
ansible/collections/
